[Unit]
Description=Delivery Telegram Mini App Admin Dashboard
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/delivery-telegram-mini-app/admin-dashboard
Environment="NODE_ENV=production"
Environment="HOST=0.0.0.0"
Environment="PORT=3001"
EnvironmentFile=/home/delivery-telegram-mini-app/admin-dashboard/.env
ExecStartPre=/usr/bin/pnpm install
ExecStartPre=/usr/bin/pnpm build
ExecStart=/usr/bin/pnpm preview
ExecStop=/usr/bin/pkill -f admin
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target